{% extends "base.html" %}

{% block toptitle %}Slope Intercept Form Calculator{% endblock %}

{% block title %}Welcome to this Calculator to Find Slope Intercept Form{% endblock %}


{% block shortdesciption %}This is a calculator to determine the slope intercept form of a line given any two points. It will find it in both decimal and fractional form. {% endblock %}

{% block content %}
	<center><form action="#" method="post">
		<p>Please enter your two points below: </p>
		<span>(&nbsp;<input type="text" name="x1" style = "width:5%"/></span>&nbsp;&nbsp;&nbsp;, 
		<span><input type="text" name="y1" style = "width:5%"/>)</span>
		<br>
		<span>(&nbsp;<input type="text" name="x2" style = "width:5%"/></span>&nbsp;&nbsp;,
		<span><input type="text" name="y2" style = "width:5%"/>)</span>
		<div><br><input type="submit" value="Submit" style = "width:10%; color:brown"/></div>
	</form>
	<hr/>
	<div align="right"><form action="#" method="post">
		<a href="/"><input type="button" value="Home" style = "width:10%; color:white; background-color: #004d99; font-size: 24px"/></a>
	</form></div>
	<div align="left"><form action="#" method="post">
		<a href="/shortcalcs/"><input type="button" value="More Calculators" style = "width:15%; color:white; background-color: #004d99; font-size: 24px"/></a>
	</form></div>
{% endblock %}
