{% extends "base.html" %}

{% block toptitle %}Contact Us{% endblock %}

{% block title %}Contact Us{% endblock %}

{% block shortdesciption %}My name is Brendan Connelly. I am a high school student. <br><br>This website just contains a lot of what I have been working on over the past year (mostly 2020). Feel free to refrence <a href="https://useful-math-tools.herokuapp.com/">my original website</a>. <br><br>If you would like to contact me, you can email me at <a href= "mailto: contactus.mathtools@gmail.com">contactus.mathtools@gmail.com.<a> {% endblock %}


{% block content %}
	<div align="right"><form action="#" method="post">
		<a href="/"><input type="button" value="Home" style = "width:10%; color:white; background-color: #004d99; font-size: 24px"/></a>
	</form></div>
{% endblock %}