{% extends "base.html" %}

{% block toptitle %}Useful Math Resources{% endblock %}

{% block title %}Useful Math Resources{% endblock %}

{% block shortdesciption %}This page includes prime factorization, base converters, quadratic calculators, etc which not only gives answers, but explain the steps. {% endblock %}


{% block content %}
	<center>
		<form action="#" method="post">
			<a href="/quad/"><input type="button" value="Go to the Quadratic Equation Calculator" style = "width: 50%; color:#451515; background-color: #A2D1EE; font-size: 24px"/></a>
		</form>
		<br/>
		<form action="#" method="post">
			<a href="/synthetic/"><input type="button" value="Go to the Synthetic Division Calculator" style = "width: 50%; color:#451515; background-color: #A2D1EE; font-size: 24px"/></a>
		</form>
		<br/>
		<form action="#" method="post">
			<a href="/data/"><input type="button" value="Go to the Mean, Median, Mean Absolute Deviation, etc" style = "width: 50%; color:#451515; background-color: #A2D1EE; font-size: 24px"/></a>
		</form>
		<br/>
		<form action="#" method="post">
			<a href="/numinfo/"><input type="button" value="Go to the Number Info page(prime factorization, num of factors, etc)" style = "width: 50%; color:#451515; background-color: #A2D1EE; font-size: 24px"/></a>
		</form>
		<br/>
		<form action="#" method="post">
			<a href="/heron/"><input type="button" value="Go to the Heron's Formula Calculator(area of a triangle)" style = "width: 50%; color:#451515; background-color: #A2D1EE; font-size: 24px"/></a>
		</form>
		<br>
		<form action="#" method="post">
			<a href="/base/"><input type="button" value="Go to the Base Converter" style = "width: 50%; color:#451515; background-color: #A2D1EE; font-size: 24px"/></a>
		</form>
		<br>
		<form action="#" method="post">
			<a href="/combine/"><input type="button" value="Go to the Combination and Permutation Expressions Calculator" style = "width: 50%; color:#451515; background-color: #A2D1EE; font-size: 24px"/></a>
		</form>
		<br>
		<form action="#" method="post">
			<a href="/pythagorean/"><input type="button" value="Go to the Pythagorean Theorem Calculator" style = "width: 50%; color:#451515; background-color: #A2D1EE; font-size: 24px"/></a>
		</form>
		<br>
		<form action="#" method="post">
			<a href="/rationalroots/"><input type="button" value="Go to the Rational Roots Calculator" style = "width: 50%; color:#451515; background-color: #A2D1EE; font-size: 24px"/></a>
		</form>
		<br>
		<form action="#" method="post">
			<a href="/baseoperations/"><input type="button" value="Go to the Cross Base Calculator" style = "width: 50%; color:#451515; background-color: #A2D1EE; font-size: 24px"/></a>
		</form>
		<br>
		<form action="#" method="post">
			<a href="/shortcalcs/"><input type="button" value="More Calculators" style = "width: 50%; color:#451515; background-color: #53cffc; font-size: 24px; font-weight:bold;"/></a>
		</form>
	</center>
		<br><br>
		<form action="#" method="post">
			<a href="/ContactUs/"><input type="button" value="Contact Us" style = "width: 25%; color:#451515; background-color: #D3D3D3; font-size: 18px; font-style: italic;"/></a>
		</form>
		<br>
		<!-- <a href="https://www.youtube.com/c/CocomelonArmy/featured" target = "_blank">
		<img width="400px" src="https://static1.squarespace.com/static/57b4d1e115d5db700b9b80c8/t/5c199e5e6d2a732d93ae321e/1605753603166/?format=1500w"  alt="COCOMELON"/></a> -->
	<div></div>
{% endblock %}