
{% extends "base.html" %}

{% block toptitle %}Synthetic Division Calculator Results{% endblock %}

{% block title %}Synthetic Division Calculator Results{% endblock %}

{% block shortdesciption %}This is a calculator to calculate synthetic divison{% endblock %}

{% block content %}
	{% for x in range(100) %}
		{% if content[x] != "" %}
			<p><center>{{content[x]}}</center></p>
		{% endif %}
		{% if content[x] == "" %}
			<br>
		{% endif %}
	{% endfor %}
	<div align="right"><form action="#" method="post">
		<a href="/"><input type="button" value="Home" style = "width:10%; color:white; background-color: #004d99; font-size: 24px"/></a>
	</form></div>
	<div align="left"><form action="#" method="post">
		<a href="/synthetic/"><input type="button" value="Back" style = "width:10%; color:white; background-color: #004d99; font-size: 24px"/></a>
	</form></div>
{% endblock %}